$mainColor: #222;
$fontFamily: 'PT Sans', sans-serif;
$titleFontFamily: 'Source Sans Pro', sans-serif;
$fontWeight: 400;
$fontSize: 16px;
$btnBgColor: #f76149;
$whiteColor: #fff;

body {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    color: $mainColor;
}

body, h1, h2, h3, h4, h5, h6, p, div,
ul, li, hr, input, textarea, button, table, td, tr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.btn {
    color: $btnBgColor;
    background-color: $whiteColor;
    width: 93px;
    height: 40px;
    border: 1px $btnBgColor solid;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease;
        color: $whiteColor;
        background-color: $btnBgColor;
    }
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    .menu-points {
        width: 460px;
        display: flex;
        justify-content: space-between;
    
        a {
            text-decoration: none;
            color: #f75c49;
            font-weight: 600;
            font-size: 22px;
    
            &:hover {
                transition: all 0.3s ease;
                color: #d14836;
            }
        }
    }

    .btn {
        width: 170px;
        height: 50px;
        font-weight: 600;
        font-size: 22px;
    }
}


.section-line {
    border: none;
    height: 1px;
    width: 500px;
    background-color: $mainColor;
    margin: 0 auto;
}

.section-title {
    font-family: $titleFontFamily;
    font-weight: 600;
    font-size: 40px;
    margin-top: 25px;
}

.teacher-promo {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .teacher-photo {
        transition: all 0.3s ease;
        border-color: #c94731;
    }

    .initials-wrapper {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 5px solid #f99589;
        margin-bottom: 15px;
    }

    &:hover .initials-wrapper {
        transition: all 0.3s ease;
        border-color: #c94731;
    }

    .initials {
        color: #f75c49;
        font-size: 26px;
        font-weight: 600;
    }

    &:hover .initials {
        transition: all 0.3s ease;
        color: #c94731;
    }

    .name {
        font-family: $titleFontFamily;
        font-weight: 600;
    }

    .sphere {
        color: #999;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .country {
       font-size: 12px;
    }

    .favorite {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 5px;
        display: none;
    }

    .visible {
        display: block;
    }
}

.teacher-photo {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    border: 5px solid #f99589;
    margin-bottom: 15px;
}

.header {
    padding-top: 35px;

    .search-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            text-decoration: none;
            font-family: 'Lora', serif;
            font-weight: 700;
            font-size: 45px;
            color: $whiteColor;
            text-shadow: 1px 1px $mainColor, -1px -1px #f8705f;
            &:hover {
                transition: all 0.1s ease;
                text-shadow: 2px 2px $mainColor, -2px -2px #f8705f;
            }
        }

        .search-teachers {
            position: relative;
    
            .btn:hover + .search-input {
                transition: all 0.3s ease;
                width: 350px;
            }

            .search-input {
                position: absolute;
                width: 220px;
                height: 40px;
                padding-left: 10px;
                right: 110px;
            }
        }
    }
}

.top-teachers {
    padding-top: 40px;
    text-align: center;

    .filter {
        text-align: left;
        color: #999;
        width: 835px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;

        select {
            height: 30px;
            padding-left: 4px;
        }

        select[name="age"] {
            width: 75px;
        }

        select[name="region"] {
            width: 90px;
        }

        select[name="sex"] {
            width: 85px;
        }

        .checkbox-wrapper {
            display: flex;
            align-items: center;
    
            input {
                margin-right: 5px;
            }
    
            label:hover {
                transition: all 0.3s ease;
                color: $mainColor;
            }
        }

        .dotted-line {
            border-left: 2px dotted #999;
            height: 38px;
        }
    }

    .top-teachers-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 160px);
        gap: 35px 50px;
        margin-top: 55px;
    }
}

.statistics {
    padding-top: 55px;
    text-align: center;

    .statistics-table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        margin-top: 40px;

        .column-titles {
            font-size: 18px;
            border-bottom: 1px solid $mainColor;
            height: 45px;
    
            td {
                cursor: pointer;
                position: relative;
    
                &:hover {
                    background-color: #fafafa;
                    border-bottom: 3px solid $mainColor;
                }
    
                &:hover .down-arrow {
                    display: inline-block;
                }
            }
    
            .down-arrow {
                height: 20px;
                position: absolute;
                top: 12px;
                display: none;
            }
        }

        .column-title-name, .teacher-stats-name {
            width: 240px;
        }
    
        .teacher-stats-name {
            padding-left: 15px;
        }
        
        .column-title-name {
            padding-left: 25px;
        }
    
        .column-title-speciality, .teacher-stats-speciality {
            width: 230px;
            text-align: center;
        }
        
        .column-title-age, .teacher-stats-age {
            width: 115px;
            text-align: center;
        }
        
        .column-title-gender, .teacher-stats-gender {
            width: 190px;
            text-align: center;
        }
        
        .column-title-nationality, .teacher-stats-nationality {
            width: 225px;
            text-align: center;
        }

        .teacher-statistics {
            height: 35px;
            
            .grey {
                background-color: #f9f5f9;
            }
        }
    }

    .pages-wrapper {
        width: 150px;
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-top: 20px;

        .pages {
            cursor: pointer;
            list-style-type: none;
            width: 70px;
            display: flex;
            justify-content: space-between;
            color: #64c6eb;

            .active-page {
                color: $mainColor;
            }

            li:hover {
                transition: all 0.3s ease;
                color: #105f9a;
            }
        }

        .more-pages {
            cursor: pointer;
        }

        .last-page-btn {
            border: none;
            background-color: $whiteColor;
            color: #64c6eb;
            font-size: $fontSize;
            cursor: pointer;

            &:hover {
                transition: all 0.3s ease;
                color: #105f9a;
            }
        }
    }
}

.favorites-teachers {
    text-align: center;
    padding-top: 40px;

    .favorites-carousel {
        position: relative;
        margin: 30px -30px 0 -30px;

        &::after {
            content: "";
            clear: both;
            display: block;
        }

        .teacher-promo {
            float: left;
            margin: 0 31px;

            .name {
                margin-bottom: 15px;
            }
        }

        .left-arrow, .right-arrow {
            height: 65px;
            position: absolute;
            top: 100px;
            cursor: pointer;
        }

        .right-arrow {
            width: 65px;
            right: -60px;

            &:hover g {
                transition: all 0.3s ease;
                fill: $mainColor;
            }
        }

        .left-arrow {
            width: 65px;
            left: -60px;

            &:hover g {
                transition: all 0.3s ease;
                fill: $mainColor;
            }
        }
    }
}

.additional-info {
    padding-top: 55px;

    .info-text {
        margin-top: 45px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.footer {
    padding-top: 40px;
    padding-bottom: 30px;

    .menu-bar {
        margin: 0;
    }
}

/* Add teacher popup */
.add-teacher-popup {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    display: none;

    .add-teacher {
        display: grid;
        grid-gap: 20px 35px;
        grid-template-columns: repeat(2, 230px);
        grid-template-areas: 
            "name name"
            "speciality speciality"
            "country city"
            "email phone"
            "bday bday"
            "sex sex"
            "bgcolor bgcolor"
            "notes notes"
            "btn btn";
        justify-content: center;
        padding: 25px 0;

        .name-wrapper {
            grid-area: name;
        }

        .speciality-wrapper {
            grid-area: speciality;
        }

        select, input {
            height: 35px;
            padding: 3px 0 3px 10px;
        }

        label, textarea {
            display: block;
        }

        input, textarea {
            width: 100%;
        }

        label {
            margin-bottom: 5px;
            color: #989898;
        }

        #add-teacher-speciality {
            width: 100%;
        }

        .country-wrapper {
            grid-area: country;

            #add-teacher-country {
                width: 100%;
            }
        }

        .city-wrapper {
            grid-area: city;
        }
        
        .email-wrapper {
            grid-area: email;
        }
        
        .phone-wrapper {
            grid-area: phone;
        }
        
        .bday-wrapper {
            grid-area: bday;
            width: 230px;
        }
        
        .sex-wrapper {
            grid-area: sex;

            label {
                display: inline;
                margin-right: 10px;
            }

            #sex-label {
                margin-right: 38px;
            }

            .male-wrapper, .female-wrapper {
                display: inline;

                label {
                    color: $mainColor;
                }

                input {
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .bgcolor-wrapper {
            grid-area: bgcolor;

            #bgcolor-label {
                display: inline;
            }

            img {
                width: 16px;
                height: 16px;
            }

            #add-teacher-bgcolor {
                width: 50px;
                height: 30px;
                padding: 7px 5px;
            }
        }

        .notes-wrapper {
            grid-area: notes;

            textarea {
                height: 125px;
                resize: none;
            }
        }

        .btn {
            width: 100%;
            grid-area: btn;
        }
    }
}

.popup-container {
    width: 560px;
    background-color: $whiteColor;

    .popup-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #464648;
        padding: 15px 17px;

        h2 {
            font-family: $titleFontFamily;
            font-weight: 600;
            font-size: 32px;
            color: $whiteColor;
        }

        img {
            cursor: pointer;
            width: 20px;
        }
    }
}

/* Teacher info popup */
.teacher-info-popup {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    text-align: left;
    display: none;

    .popup-container {
        width: 950px;

        .teacher-info-content {
            padding: 20px;

            svg {
                width: 30px;
                height: 30px;
                position: absolute;
                right: 0;
                cursor: pointer;

                &:hover .star-params {
                    fill: #fcf9c2;
                }
            }

            .teacher-info-content-main {
                position: relative;
                display: flex;

                img {
                    width: 320px;
                    height: 320px;
                    padding: 0 30px 30px 0;
                }

                .teacher-info-text {
                    h1 {
                        font-size: 40px;
                        font-weight: 400;
                        margin-bottom: 30px;
                    }

                    h3 {
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                    
                    p {
                        margin-bottom: 15px;
                    }

                    .teacher-email {
                        text-decoration: none;
                        color: #6dbdd4;
                        display: block;
                        margin-bottom: 15px;
                    }
                }
            }

            .toggle-map {
                color: #6dbdd4;
                text-decoration: none;
                border-bottom: 1px dashed #6dbdd4;
            }
        }
    }
}

.visible {
    display: flex;
}


/* Responsive */
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .favorites-teachers {
        text-align: center;

        .teacher-promo {
            float: none;
            display: inline-block;
        }

        .favorites-carousel .teacher-promo:nth-last-child(-n+2) {
            display: none;
        }

        .right-arrow {
            right: 0;
        }
    
        .left-arrow {
            left: 0;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .filter {
        width: 100%;
    }

    .favorites-carousel .teacher-promo:nth-last-child(-n+3) {
        display: none;
    }

    .teacher-info-popup .popup-container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .section-line {
        width: 300px;
    }

    .search-wrapper {
        display: block;

        .search-teachers {
            height: 40px;
            margin-top: 20px;

            .btn {
                position: absolute;
                right: 0;

                &:hover + .search-input{
                    width: 430px;
                }
            }
        }
    }

    .menu-bar {
        justify-content: right;
        margin-top: 20px;

        .menu-points {
            display: none;
        }
    }

    .filter {
        display: block;

        span {
            display: none;
        }

        select {
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }

    .favorites-carousel .teacher-promo:nth-last-child(-n+4) {
        display: none;
    }

    .teacher-info-content-main img {
        width: 230px;
        height: 230px;
        padding: 0 15px 15px 0;
    }

    .teacher-info-text {
        h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 18px;
        }
    }

    .add-teacher-popup .popup-container {
        width: 100%;
    }

    .add-teacher {
        grid-template-columns: repeat(1, 85%);
        grid-template-areas: 
            "name name"
            "speciality speciality"
            "country country"
            "city city"
            "email email"
            "phone phone"
            "bday bday"
            "sex sex"
            "bgcolor bgcolor"
            "notes notes"
            "btn btn";
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }

    .top-teachers-wrapper {
        justify-content: center;
    }

    .column-title-gender, .teacher-stats-gender,
    .column-title-nationality, .teacher-stats-nationality {
        display: none;
    }

    .search-input {
        width: 178px;
    }

    .search-teachers .btn:hover + .search-input {
        width: 178px;
    }

    .teacher-info-content-main {
        display: block;

        img {
            padding: 0;
            margin-bottom: 15px;
            width: 248px;
            height: 248px;
        }

        svg {
            top: 270px;
        }
    }

    .bday-wrapper {
        width: 100%;
    }

    .favorites-carousel {
        margin: 30px 0 0 0;

        .teacher-promo:nth-last-child(-n+5) {
            display: none;
        }
    }

    .teacher-info-popup {
        overflow: scroll;

        .popup-container {
            position: absolute;
            top: 0;
        }
    }
}

@media (max-height: 560px) {
    .teacher-info-popup {
        overflow: scroll;

        .popup-container {
            position: absolute;
            top: 0;
        }
    } 
}

@media (max-height: 836px) {
    .add-teacher-popup {
        overflow: scroll;

        .popup-container {
            position: absolute;
            top: 0;
        }
    }
}